// Color Variables
$primary-color: linear-gradient(180deg, rgba(3, 27, 63, 1) 0%, rgba(90, 134, 183, 1) 60%, rgba(179, 216, 245, 1) 100%);;
$secondary-color: #b3d8f5;
$border-color: #3F2182;
$hover-color: rgb(203, 227, 245);

// Font Variables
$font-family: 'Poppins', sans-serif;

// Font Sizes
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

// Avatar Size
$avatar-size: 70px;
